.alert-message {
    width: 30%;
    position: fixed;
    bottom: 3%;
    right: 2rem;
    border-radius: 3px;
    padding: 5px;
    font-size: 2rem;

    @include respond(tab-land) {
        width: 50%;
    }

    @include respond(tab-port) {
        width: 50%;
    }

    @include respond(phone) {
        width: 50%;
    }

    animation: showHide;
    animation-duration: .5s;
}

.success {
    background: $color-success;
}

.warning {
    background: $color-warning;
}