$color-primary: #55c57a;
$color-primary-light: #57c646;
$color-primary-dark: #1e976efe;

$color-secondary-light: #6416b6;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #2214a1;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-success: #24d65f;
$color-warning: #90a0ca;


$color-white: #fff;
$color-black: #000;
$color-black-light: #271e1ea1;

//FONT
$default-font-size: 1.6rem;